body,
button,
input,
textarea {
  margin: 0;
  font-family: "Poppins", 'Roboto', 'Ubuntu', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #FFFAF1;

}


code {
  font-family: "Poppins", 'Roboto', 'Ubuntu', sans-serif;

}